*, *::before, *::after {
  margin: 0; padding: 0; box-sizing: border-box;
}

:root {
  --white: #fefefe;
  --white-x: #f2f2f2;
  --black: #191919;
  --black-x: #313131;
  --red: #b32d00;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  background: var(--white);
  color: var(--black-x);
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  font-size: 3em;
  color: var(--black);
  font-weight: normal;
}

p {
  line-height: 1.5;
}

button {
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 1em 2em;
  background: var(--white-x);
  outline: none;
  border: none;
  border: 1px dashed var(--black);
  text-transform: uppercase;
  font-family: inherit;
  font-size: .875em;
  font-weight: bold;
}

button:hover {
  background: var(--white);
}

header {
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: var(--white-x);
}

.logo {
  color: var(--black-x);
  font-size: .875em;
  text-transform: uppercase;
  letter-spacing: .75em;
  animation: dense 1s ease-out 2s infinite alternate;
}

@keyframes dense {
  from {
    letter-spacing: .75em;
  }
  to {
    letter-spacing: 1em;
  }
}

section {
  padding: 4em 5%;
  padding-top: calc(10% + 4em);
  height: 100vh;
  background: rgba(242, 242, 242, .9);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-title {
  font-size: 3em;
  color: var(--black);
  font-weight: normal; 
}

.sub-title {
  font-size: .875em;
  color: var(--black-x);
  letter-spacing: .5em;
  line-height: 1.5;
}


/*
  CUSTOM STYLING STARTS HERE
*/

.main {
  flex: 1;
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: .75em;
  margin-bottom: 2em;
  height: auto;
  width: 150px;
  background: var(--white);
  border-radius: 5px;
}

form input {
  max-width: 100%;
  margin-bottom: 2em;
  padding: 1em;
  border: none;
  outline: none;
  font-weight: bold;
  background: var(--white-x);
  color: var(--black-x);
  border-radius: 5px;
}

form input:placeholder {
  color: red;
  opacity: 1;
}

#validate i {
  font-size: 3em;
  color: var(--black);
  margin: 1em 0;
}

.ext-list {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ext-list li {
  background: var(--black-x);
  background: rgba(25, 25, 25, .1);
  color: var(--white);
  border-radius: 45px;
  font-size: .7em;
  padding: .5em 1em;
  margin: 0 .5em .5em 0;
  font-weight: bold;
}

#btn {
  padding: 1em 2em;
  margin-top: 2em;
  background: var(--white);
  outline: none;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: .875em;
  font-weight: bold;
}

#btn:hover {
  border: 1px dashed var(--black);
}

footer {
  text-align: center;
}
